body {
  overflow: hidden;
  width: 100%;
  font-family: $Gilroy;
  font-style: normal;
  color: black;
}

.wrap {
  width: 100%;
  position: relative;
}

section {
  transition: 0.4s ease-in-out;
}

// main {
//   overflow: hidden;
// }

.hide {
  animation: fade-out 1s ease-in-out forwards !important;
}

.disabled {
  display: none;
}

.container {
  @media ($ma-xs) {
    max-width: none;
    padding: 0 24px;
  }

  @media ($m-xs) {
    max-width: 540px;
    margin: 0 auto;
  }

  @media ($m-s) {
    max-width: 720px;
  }

  @media ($m-m) {
    max-width: 960px;
  }

  @media ($m-l) {
    max-width: 1140px;
  }

  @media ($m-xl) {
    max-width: 1320px;
  }

  &--no-mw {
    max-width: none;
    padding: 0;
  }
}

.svg-icon {
  width: 100%;
  height: 100%;

  fill: currentColor;
}

img {
  width: 100%;
  height: 100%;

  object-fit: contain;
}

._active {
  right: 0%;
}

aside {
  position: fixed;
  z-index: 10;
  top: 0;
  right: -100%;
  overflow: hidden;

  transition: 1s cubic-bezier(0.28, 0, 0.1, 1);
  width: 100vw;
  height: 100vh;
  background: $g-bg;

  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-shadow: 0px 2.06089px 51.5222px rgba(128, 128, 128, 0.3);

  .aside__icon {
    &-wrapper {
      width: 84px;
      height: 32px;
      margin-bottom: 36px;

      display: flex;
      justify-content: space-between;
    }

    width: 32px;
    height: 32px;
  }

  a {
    color: $c-black;
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    text-align: center;
    text-decoration: none;

    &:not(:last-child) {
      margin-bottom: 28px;
    }
  }
}

form.popup {
  margin-top: 100px;

  & > input {
    width: 242px;
    border: none;
    border-bottom: 2px solid $c-orange-light;
    transition: 0.4s ease;
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 4px;

    &:focus {
      outline: none;
      border-bottom: 2px solid $c-orange;
    }

    &::placeholder {
      font-family: $Gilroy;
      font-weight: 400;
    }
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 48px;

  background-color: $c-orange-dark;
  text-decoration: none;

  & > span {
    color: $c-white;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: $c-orange-light;
    }
  }

  &:active {
    background-color: $c-orange;
  }
}
