body {
  width: 100%;
  font-family: $Gilroy;
  font-style: normal;
  color: black;
}

._burger-active {
  height: 10vh;
  overflow: hidden;
}

.wrap {
  width: 100%;
  position: relative;
}

section {
  transition: 0.4s ease-in-out;
}

.hide {
  animation: fade-out 1s ease-in-out forwards !important;
}

.disabled {
  display: none;
}

.container {
  @media ($ma-xs) {
    max-width: 320px;
    padding: 0 24px;
    margin: 0 auto;
  }

  @media ($m-xs) {
    max-width: 540px;
    margin: 0 auto;
  }

  @media ($m-s) {
    max-width: 720px;
  }

  @media ($m-m) {
    max-width: 960px;
  }

  @media ($m-l) {
    max-width: 1140px;
  }

  @media ($m-xl) {
    max-width: 1320px;
  }

  &--no-mw {
    max-width: none;
    padding: 0;
  }
}

.svg-icon {
  width: 100%;
  height: 100%;

  fill: currentColor;
}

img,
picture {
  width: 100%;
  height: 100%;

  object-fit: contain;
}

form.popup {
  margin-top: 100px;

  & > input {
    width: 242px;
    border: none;
    border-bottom: 2px solid $c-orange-light;
    transition: 0.4s ease;
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 4px;

    &:focus {
      outline: none;
      border-bottom: 2px solid $c-orange;
    }

    &::placeholder {
      font-family: $Gilroy;
      font-weight: 400;
    }
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 48px;

  background-color: $c-orange-dark;
  text-decoration: none;

  transition: 0.4s cubic-bezier(0.28, 0, 0.1, 1);

  & > span {
    color: $c-white;
    font-size: 18px;
    line-height: 24px;
    text-align: center;

    pointer-events: none;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: $c-orange-light;
    }
  }

  &:active {
    background-color: $c-orange;
    transition: 0.4s cubic-bezier(0.28, 0, 0.1, 1);
  }

  &--hollow {
    border: 2px solid $c-orange;
    background-color: #f7f7f7;

    transition: 0.4s cubic-bezier(0.28, 0, 0.1, 1);

    & > span {
      margin-bottom: 0;
      color: $c-orange;
      font-size: 18px;
      line-height: 24px;
      text-align: center;

      transition: 0.4s cubic-bezier(0.28, 0, 0.1, 1);
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: $c-white;
        transition: 0.1s cubic-bezier(0.28, 0, 0.1, 1);
      }
    }

    &:active {
      background-color: $c-orange;
      transition: 0.1s cubic-bezier(0.28, 0, 0.1, 1);

      & > span {
        color: $c-white;

        transition: 0.4s cubic-bezier(0.28, 0, 0.1, 1);
      }
    }
  }
}

h2 {
  margin-bottom: 24px;

  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
}

p {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
