html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-family: $Gilroy;
  font-style: normal;
  color: black;
}

._sideElemActive {
  overflow: hidden;
}

.wrap {
  width: 100%;
  position: relative;
}

section {
  transition: 0.4s ease-in-out;
}

.hide {
  animation: fade-out 1s ease-in-out forwards !important;
}

.disabled {
  display: none;
}

.container {
  @media ($ma-xs) {
    max-width: 320px;
    padding: 0 24px;
    margin: 0 auto;
  }

  @media ($m-xs) {
    max-width: 568px;
    margin: 0 auto;
  }

  @media ($m-s) {
    max-width: 720px;
  }

  @media ($m-m) {
    max-width: 960px;
  }

  @media ($m-l) {
    max-width: 1140px;
  }

  @media ($m-xl) {
    max-width: 1320px;
  }

  &--no-mw {
    max-width: none;
    padding: 0;
  }
}

.svg-icon {
  width: 100%;
  height: 100%;

  fill: currentColor;
}

img,
picture {
  width: 100%;
  height: 100%;

  object-fit: contain;
}

.form {
  @extend .cards__card-bg;
  width: 284px;

  &-inner {
    @extend .cards__card;

    display: grid;
    padding: 32px 18px 30px !important;
    row-gap: 22px;
    justify-content: center;

    & > * {
      width: 242px;
    }

    & > input {
      width: 242px;
      padding: 0 0 4px 0;

      font-size: 20px;
      line-height: 28px;

      background: transparent;
      border: none;
      border-bottom: 2px solid $c-orange-light;

      transition: 0.4s ease;

      &:focus {
        border-bottom: 2px solid $c-orange;
        outline: none;
      }

      &::placeholder {
        font-family: $Gilroy;
        font-weight: 400;
      }

      &[type="submit"] {
        @extend .button;
        margin-top: 8px;
        padding-bottom: 0;
        border: none;
      }
    }

    & > p {
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;

      & > a {
        color: $c-orange;
        text-decoration: none;
      }
    }
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 48px;

  font-family: $Gilroy;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: $c-white;
  text-align: center;
  text-decoration: none;

  background-color: $c-orange-dark;

  transition: 0.4s cubic-bezier(0.28, 0, 0.1, 1);

  &:not(a) {
    width: 242px;
    height: 44px;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: $c-orange-light;
    }
  }

  &:active {
    background-color: $c-orange;
    transition: 0.4s cubic-bezier(0.28, 0, 0.1, 1);
  }

  &--hollow {
    color: $c-orange;
    font-size: 18px;
    line-height: 24px;
    text-align: center;

    border: 2px solid $c-orange;
    background-color: #f7f7f7;

    transition: 0.4s cubic-bezier(0.28, 0, 0.1, 1);

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: $c-white;

        background: $c-orange-light;

        transition: 0.1s cubic-bezier(0.28, 0, 0.1, 1);
      }
    }

    &:active {
      color: $c-white;

      background-color: $c-orange;
      transition: 0.1s cubic-bezier(0.28, 0, 0.1, 1);

      transition: 0.4s cubic-bezier(0.28, 0, 0.1, 1);
    }
  }
}

h2 {
  margin-bottom: 24px;

  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
}

p {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.logo {
  width: 52px;
  height: 35.38px;

  & > a {
    text-decoration: none;

    & > svg.svg-icon {
      color: $c-black;
    }
  }
}

.social-icons {
  &-wrapper {
    width: 84px;
    height: 32px;
    margin-bottom: 36px;

    display: flex;
    justify-content: space-between;
  }

  &__icon {
    width: 32px;
    height: 32px;

    color: $c-black;
  }
}
