.examples {
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(231, 231, 233, 1) 50%,
		rgba(255, 255, 255, 1) 100%
	);

	.cards__card {
		* {
			text-align: center;
		}
	}

	& > .container {
		h2 {
			text-align: center;
		}
	}
}
