.examples {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px 52px;

  overflow-x: hidden;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(231, 231, 233, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );

  @media ($m-s) {
    margin-bottom: 74px;
  }

  @media ($m-mm) {
    margin-bottom: 0;
  }

  @media ($m-xxl) {
    padding: 90px 0;
  }

  & > .container {
    position: relative;

    display: flex;
    flex-direction: column;

    .bubbles {
      position: relative;
      top: 0;
      left: auto;

      & > .circle,
      .square {
        position: absolute;
      }

      * {
        &:nth-child(1) {
          top: 1px;
          right: 15px;
        }

        &:nth-child(2) {
          top: 104px;
          right: 0;
        }

        &:nth-child(3) {
          top: 21px;
          left: 0;
        }
      }
    }

    @media ($m-s) {
      .examples__text-wrap {
        width: 720px;
        margin-bottom: 74px;
      }
    }
  }

  .cards {
    align-self: center;
    row-gap: 32px;

    @media ($m-s) {
      margin: 0 54px;
      row-gap: 50px;
    }

    @media ($m-xl) {
      width: 100%;
      grid-template-columns: 569px 730px;
      row-gap: 0;
      justify-content: space-between;
    }

    &__card {
      padding: 24px 20px 32px;

      row-gap: 11px;

      @media ($m-s) {
        padding: 34px 30px 42px;

        row-gap: 20px;
      }

      @media ($m-xl) {
        grid-template-rows: 67px 75px 2px 320px auto;
      }

      .bubbles {
        position: relative;
        top: 5px;

        height: 0;

        @media ($m-s) {
          top: -175px;
          right: -310px;
        }

        .bubble-wrap {
          position: static;
          box-shadow: 0 2.06089px 30px hsl(0deg 0% 50% / 30%);

          .bubble {
            & > span {
              margin-bottom: 0;
            }
          }
        }
      }

      * {
        text-align: center;

        @media ($m-s) {
          text-align: left;
        }

        &:not(a) {
          & > span {
            margin-bottom: 16px;
          }
        }
      }

      & > .cards__headline {
        color: $c-orange;
        font-size: 20px;
        line-height: 28px;

        @media ($m-s) {
          font-size: 32px;
          line-height: 38px;
        }

        @media ($m-xl) {
          font-size: 48px;
          line-height: 67px;
        }
      }

      & > .cards__text {
        @media ($m-s) {
          font-size: 18px;
          line-height: 25px;
        }
      }

      & > .cards__hr {
        &:last-of-type {
          margin-bottom: 12px;
        }

        @media ($m-s) {
          &:last-of-type {
            margin-bottom: 0;
          }

          &:first-of-type {
            display: none;
          }
        }
      }

      & > .cards__subheadline {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        & > * {
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 28px;

          @media ($m-s) {
            font-size: 24px;
            line-height: 50px;
          }
        }
      }
    }
  }

  & > .container {
    h2 {
      margin-top: 45px;
      text-align: center;

      @media ($m-xl) {
        text-align: left;
      }
    }
  }
}
