header {
	position: absolute;
	z-index: 20;

	width: 100%;

	& > .container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding-top: 20px;

		& > nav {
			width: auto;
			height: auto;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
		}
	}

	.logo {
		width: 52px;
		height: 35.38px;

		& > a {
			text-decoration: none;

			& > svg.svg-icon {
				color: $c-black;
			}
		}
	}
}
