.integrations {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;

  background: $g-bg-reverse;

  & > .container {
    position: relative;

    .bubbles {
      position: relative;
      top: 0;
      left: auto;

      & > .circle,
      .square {
        position: absolute;
      }

      & > .circle {
        width: 50px;
      }

      * {
        &:nth-child(1) {
          top: 50px;
          right: 0px;
        }

        &:nth-child(2) {
          top: 40px;
          right: -7px;
        }
      }
    }

    .integrations__text-wrap {
      min-width: 720px;
    }
  }

  .bubble-wrap {
    border-radius: 10px;

    & > .bubble {
      border-radius: 8px;
    }
  }

  & > .container {
    h2 {
      width: 247px;

      @media ($m-s) {
        width: 360px;
      }
    }

    p {
      font-weight: 400;
      margin-bottom: 24px;

      @media ($m-s) {
        width: 520px;

        font-size: 22px;
        line-height: 28px;
        margin-bottom: 42px;
      }
    }
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 26px;

    @media ($m-s) {
      column-gap: 48px;
      row-gap: 70px;

      grid-template-columns: 1fr 1fr;
    }

    @media ($m-s) {
      .cards__card-bg:nth-of-type(2n) {
        .cards__toggle {
          transition: 0.4s cubic-bezier(0.28, 0, 0.1, 1) 0.4s;

          &::after {
            transition: 0.2s cubic-bezier(0.28, 0, 0.1, 1) 0.4s;
          }
        }
      }
    }

    &__card {
      width: 282px;
      height: 209px;

      row-gap: 11px;

      @media ($m-s) {
        width: 320px;
        height: 100%;

        grid-template-rows: auto auto auto 1fr;
      }
    }
  }

  .cards__img {
    position: absolute;
    top: -10px;
    right: 80px;

    @media ($m-s) {
      .bubble {
        padding: 12px;
      }

      top: -20px;
      right: 110px;
    }

    img {
      width: 40px;
      height: 40px;

      @media ($m-s) {
        width: 60px;
        height: 60px;
      }
    }
  }
}
