.integrations {
  padding-bottom: 40px;

  background: $g-bg-reverse;

  @media ($m-l) {
    padding: 80px 0 100px;
  }

  & > .container {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    .bubbles {
      position: relative;
      top: 0;
      left: auto;

      width: 100%;

      & > .circle,
      .square {
        position: absolute;
      }

      & > .circle {
        width: 50px;
      }

      * {
        &:nth-child(1) {
          top: 50px;
          right: 0px;
        }

        &:nth-child(2) {
          top: 40px;
          right: -7px;
        }
      }
    }

    .integrations__text-wrap {
      @media ($m-s) {
        min-width: 720px;
      }
    }
  }

  .bubble-wrap {
    border-radius: 10px;

    & > .bubble {
      border-radius: 8px;
    }
  }

  & > .container {
    h2 {
      width: 247px;

      @media ($m-s) {
        width: 360px;
      }

      @media ($m-xl) {
        width: 550px;
      }
    }

    p {
      font-weight: 400;
      margin-bottom: 24px;

      @media ($m-s) {
        width: 520px;

        font-size: 22px;
        line-height: 28px;
        margin-bottom: 42px;
      }

      @media ($m-l) {
        width: auto;
        padding-right: 620px;
      }
    }
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 26px;
    justify-items: center;

    @media ($m-s) {
      column-gap: 48px;
      row-gap: 70px;

      grid-template-columns: 1fr 1fr;
    }

    @media ($m-s) {
      .cards__card-bg:nth-of-type(2n) {
        .animated {
          transition-delay: 0.4s;

          &::after {
            transition-delay: 0.4s;
          }
        }
      }
    }

    @media ($m-l) {
      grid-template-columns: repeat(3, 1fr);

      .cards__card-bg {
        .animated {
          transition-delay: 0.4s;

          &::after {
            transition-delay: 0.4s;
          }
        }
      }
    }

    &__card {
      width: 282px;
      height: 209px;

      row-gap: 11px;

      &-bg {
        width: fit-content;
      }

      @media ($m-s) {
        width: 320px;
        height: 100%;

        grid-template-rows: auto auto auto 1fr;
      }
    }
  }

  .cards__img {
    position: absolute;
    top: -10px;
    right: 80px;

    @media ($m-s) {
      .bubble {
        padding: 12px;
      }

      top: -20px;
      right: 110px;
    }

    img {
      width: 40px;
      height: 40px;

      @media ($m-s) {
        width: 60px;
        height: 60px;
      }
    }
  }
}
