.modules {
  & > .container {
    padding-top: 40px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media ($m-xxl) {
      padding: 140px 0;
    }

    .cards {
      row-gap: 26px;

      @media ($m-s) {
        grid-template-columns: 1fr 1fr;
        column-gap: 48px;
        row-gap: 30px;
      }

      @media ($m-xl) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }

      &__card {
        width: 282px;

        row-gap: 11px;

        @media ($m-s) {
          .cards__headline {
            height: 48px;
            align-items: flex-start;
          }
        }

        @media ($m-xxl) {
          width: 324px;
          height: 164px;
          padding: 24px;
        }
      }

      .animated {
        background: $c-green;
      }

      @media ($m-s) {
        .cards__card-bg:nth-of-type(2n) {
          .cards__toggle {
            transition: 0.4s cubic-bezier(0.28, 0, 0.1, 1) 0.4s;

            &::after {
              transition: 0.2s cubic-bezier(0.28, 0, 0.1, 1) 0.4s;
            }

            @media ($m-xl) {
              transition-delay: 0s;

              &::after {
                transition-delay: 0s;
              }
            }
          }
        }
      }
    }
  }
}
