.narrate {
  background: $g-bg;

  &__text {
    margin-bottom: 55px;

    @media ($m-mm) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    & > p {
      width: 257px;
      margin-bottom: 16px;

      font-weight: 600;
      font-size: 18px;
      line-height: 24px;

      @media ($m-xxxxs) and (orientation: landscape) {
        width: 202px;
      }

      @media ($m-s) {
        width: auto;

        font-size: 23px;
        line-height: 28px;
      }

      @media ($m-mm) {
        width: 400px;
        font-size: 26px;
        line-height: 32px;
      }

      span {
        color: $c-orange;
      }
    }
  }

  & > .container {
    position: relative;

    display: flex;
    flex-direction: column;
    padding-top: 58px;
    padding-bottom: 73px;

    @media ($m-xxxxs) and (orientation: landscape) {
      display: grid;
      grid-template-columns: auto 1fr;
      column-gap: 30px;
    }

    @media ($m-s) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 40px;
    }

    & > .bubbles--decorative {
      position: relative;
      order: 3;

      .circle {
        position: absolute;

        &:nth-child(1) {
          top: -30px;
          left: auto;

          margin-left: 2px;
        }

        &:nth-child(2) {
          top: 600px;
          left: 185px;

          margin-left: 2px;

          @media ($m-xxxxs) and (orientation: landscape) {
            top: 50px;
          }

          @media ($m-s) {
            top: 30px;
            left: 375px;
          }
        }

        &:nth-child(3) {
          top: 595px;
          left: 174px;

          margin-left: 2px;

          @media ($m-xxxxs) and (orientation: landscape) {
            top: 45px;
          }

          @media ($m-s) {
            top: 25px;
            left: 365px;
          }
        }
      }

      @media ($m-xxxxs) and (orientation: landscape) {
        order: 3;
      }
    }

    & > .form {
      position: relative;
      align-self: center;

      @media ($m-s) {
        width: 320px;

        & .form-inner {
          & > input {
            width: 100%;

            font-size: 24px;
            line-height: 32px;
          }

          & > p {
            width: auto;

            font-size: 15px;
            line-height: 18px;

            & br {
              display: none;
            }
          }
        }
      }

      @media ($m-mm) {
        width: 500px;

        & .form-inner {
          padding: 50px;
        }
      }

      & > .bubble-wrap {
        z-index: 2;
        top: -30px;
        left: 123px;

        @media ($m-s) {
          span {
            font-size: 20px;
            line-height: 24px;
          }

          img {
            width: 48px;
            height: 48px;
          }
        }
      }
    }
  }
}
