.result {
  & > .container {
    h2 {
      margin-top: 16px;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
    }

    .bubbles {
      position: relative;
      display: grid;
      row-gap: 20px;

      & > .bubble-wrap {
        &:nth-child(1) {
          .bubbles--decorative {
            top: -11px;
            left: 98px;
          }
        }

        &:nth-child(2) {
          .bubbles--decorative {
            top: 41px;
            left: 147px;
          }
        }
      }

      .bubble {
        position: relative;
      }

      .bubbles--decorative {
        position: absolute;
      }

      .bubble-wrap {
        position: static;
        &:nth-child(1) {
          justify-self: flex-end;
        }
      }
    }
  }

  hr {
    margin-top: 0;
    margin-bottom: 16px;
  }

  &__pic {
    picture {
      &:nth-child(1) {
        & > picture > * {
          margin-top: -50px;
          margin-bottom: -90px;
        }
      }

      &:nth-child(2) {
        & > picture > * {
          margin-top: 20px;
          margin-bottom: 0;
        }
      }
    }
  }
}
